div(style='margin-bottom:10px;', class='courses_sec')
  div(class='ui-grid-a')
    div(class='ui-block-a')
      div(class='ui-bar ui-bar-b')='IDNumber:'
    div(class='ui-block-b')
      - if (classDetail['IDNumber'].length)
        div(class='ui-bar ui-bar-b')=classDetail['IDNumber']
      - else
        div(class='ui-bar ui-bar-b')="N/A"
  div(class='ui-grid-a')
    div(class='ui-block-a')
      div(class='ui-bar ui-bar-b')='Days:'
    div(class='ui-block-b')
      - if (classDetail['Days'].length)
        div(class='ui-bar ui-bar-b')=classDetail['Days']
      - else
        div(class='ui-bar ui-bar-b')='N/A'
  div(class='ui-grid-a')
    div(class='ui-block-a')
      div(class='ui-bar ui-bar-b')='Start:'
    div(class='ui-block-b')
      - if (classDetail['Start'].length)
        div(class='ui-bar ui-bar-b')=classDetail['Start']
      - else
        div(class='ui-bar ui-bar-b')='N/A'
  div(class='ui-grid-a')
    div(class='ui-block-a')
      div(class='ui-bar ui-bar-b')='Stop:'
    div(class='ui-block-b')
      - if (classDetail['Stop'].length)
        div(class='ui-bar ui-bar-b')=classDetail['Stop']
      - else
        div(class='ui-bar ui-bar-b')='N/A'
  div(class='ui-grid-a')
    div(class='ui-block-a')
      div(class='ui-bar ui-bar-b')='Building:'
    div(class='ui-block-b')
      - if (classDetail['Building'].length)
        div(class='ui-bar ui-bar-b')=classDetail['Building']
      - else
        div(class='ui-bar ui-bar-b')='N/A'
  div(class='ui-grid-a')
    div(class='ui-block-a')
      div(class='ui-bar ui-bar-b')='Room:'
    div(class='ui-block-b')
      - if (classDetail['Room'].length)
        div(class='ui-bar ui-bar-b')=classDetail['Room']
      - else
        div(class='ui-bar ui-bar-b')='N/A'
  div(class='ui-grid-a')
    div(class='ui-block-a')
      div(class='ui-bar ui-bar-b')='Rest:'
    div(class='ui-block-b')
      - if (classDetail['Rest'].length)
        div(class='ui-bar ui-bar-b')=classDetail['Rest']
      - else
        div(class='ui-bar ui-bar-b')='N/A'
  div(class='ui-grid-a')
    div(class='ui-block-a')
      div(class='ui-bar ui-bar-b')='#En:'
    div(class='ui-block-b')
      - if (classDetail['En'].length)
        div(class='ui-bar ui-bar-b')=classDetail['En']
      - else
        div(class='ui-bar ui-bar-b')='N/A'
  div(class='ui-grid-a')
    div(class='ui-block-a')
      div(class='ui-bar ui-bar-b')='EnCp:'
    div(class='ui-block-b')
      - if (classDetail['EnCp'].length)
        div(class='ui-bar ui-bar-b')=classDetail['EnCp']
      - else
        div(class='ui-bar ui-bar-b')='N/A'
  div(class='ui-grid-a')
    div(class='ui-block-a')
      div(class='ui-bar ui-bar-b')='#WL:'
    div(class='ui-block-b')
      - if (classDetail['WL'].length)
        div(class='ui-bar ui-bar-b')=classDetail['WL']
      - else
        div(class='ui-bar ui-bar-b')='N/A'
  div(class='ui-grid-a')
    div(class='ui-block-a')
      div(class='ui-bar ui-bar-b')='WLCp:'
    div(class='ui-block-b')
      - if (classDetail['WLCp'])
        div(class='ui-bar ui-bar-b')=classDetail['WLCp']
      - else
        div(class='ui-bar ui-bar-b')='N/A'
  div(class='ui-grid-a')
    div(class='ui-block-a')
      div(class='ui-bar ui-bar-b')='Status:'
    div(class='ui-block-b')
      - if (classDetail['Status'].length)
        div(class='ui-bar ui-bar-b')=classDetail['Status']
      - else
        div(class='ui-bar ui-bar-b')='N/A'
