div(data-role='page', id='course_main', data-dom-cache="true")
  header(data-role='header')
    a(href="/uclaregistrar/"+ucla_term+"/"+ucla_subject, data-icon='arrow-l', data-direction='reverse')
      ="Back"
    h1="Class Details"
  div(data-role='content', role='main')
    //check
    - if (ucla_course_title.length)
      h3=ucla_course_title+' FOR 20'+ucla_term
    - if (ucla_course_sec.length)
      ul(data-role='listview', data-theme='d', data-divider-theme='b', data-inset='true')
        li(data-role='list-divider')
          h3="Course Description"
        li
          a(href=ucla_course_desc_link)
            ="See the Course Description."
        - if (ucla_course_note.length)
          div(data-theme='d', class='ui-body-d ui-li-static ui-li', style='font-weight:normal')
            p=ucla_course_note
        li(data-icon='mynew-window', data-role='button', data-iconpos='right')
          a(href=ucla_class_url)
            ='Go to Class Page'
        - if (ucla_course_sec.length)
          li(data-role='list-divider')
            h3="Course Sections"
          - counter = 0
          - ucla_course_sec.forEach(function(sec){
          li
            div(data-role='collapsible', data-theme='e')
              - if (sec['instuctor'].length)
                h3=sec['section']+', '+sec['instuctor']
                a(href=ucla_link_to_profs[counter]['link'], data-role='button', data-icon='arrow-r', data-theme='e', data-iconpos='right')="Professor Reviews"
              - else
                h3=sec['section']+', STAFF'
              != partial('classDetail', ucla_course_sec_detail[counter])
          - counter += 1
          - })
    - else
      h3="No classes are scheduled for this subject area this quarter."
  != partial('backlinks')
  != partial('footer')
