div(data-role='page', id='course_main', data-ajax="false")
  header(data-role='header')
    a(href="/uclaregistrar/"+ucla_term+"/"+ucla_subject, data-icon='arrow-l', data-direction='reverse')
      ="Back"
    h1="Class Details"
    a(id="star", href="/star/"+ucla_term+"/"+ucla_subject+"/"+ucla_classid, data-icon="star", data-iconpos="notext", data-theme="a",data-trainsition="fade")
  div(data-role='content', role='main')
    //check
    - if (ucla_course_title.length)
      h3=ucla_course_title+' FOR 20'+ucla_term
    - if (ucla_course_sec.length)
      ul(data-role='listview', data-theme='d', data-divider-theme='b', data-inset='true')
        li(data-role='list-divider')
          h3="Course Description"
        li
          a(href=ucla_course_desc_link)
            ="See the Course Description."
        - if (ucla_course_note.length)
          div(data-theme='d', class='ui-body-d ui-li-static ui-li', style='font-weight:normal')
            p=ucla_course_note
        li(data-icon='mynew-window', data-iconpos='right')
          a(href=ucla_class_url)
            ='Go to Class Page'
        - if (ucla_course_sec.length)
          li(data-role='list-divider')
            h3="Course Sections"
          - counter = 0
          - ucla_course_sec.forEach(function(sec){
          li
            div(data-role='collapsible', data-theme='e')
              - if (sec['instuctor'].length)
                h3=sec['section']+', '+sec['instuctor']
                a(href=ucla_link_to_profs[counter]['link'], data-role='button', data-icon='arrow-r', data-theme='e', data-iconpos='right')="Professor Reviews"
              - else
                h3=sec['section']+', STAFF'
              != partial('classDetail', ucla_course_sec_detail[counter])
          - counter += 1
          - })
    - else
      h3="No classes are scheduled for this subject area this quarter."
  != partial('backlinks')
  != partial('footer')

script
  function updateStar(from, to) {
    var $star = $("#star");
    $star.removeClass("ui-btn-up-"+from+" ui-btn-hover-"+from).addClass("ui-btn-up-"+to+" ui-btn-hover-"+to).attr("data-theme", to);
  }
  $(document).bind('pagecreate', function(){
    var starred_courses = localStorage.getItem('starred_courses');
    var $star = $("#star"),
        href = $star.attr("href");
    if(starred_courses) {
      // if there is local storage
      starred_courses = JSON.parse(starred_courses);
      if (starred_courses.indexOf(href) >= 0) {
        updateStar("b", "e");
        // refreshPage();
      }
    } else {
      // create a localStroage
      var starred_courses = [];
      localStorage.setItem('starred_courses', "[]");
    }

    // bind tap event
    $star.bind("click", function(event){
      var detail = href.split('/'),
          classid = detail.pop(),
          subject = detail.pop(),
          term = detail.pop();
      var data_to_pass = {
        "email": localStorage.getItem('email'),
        "classid": classid,
        "subject": subject,
        "term": term
      }
      if ($star.attr("data-theme") === "a") {
        // Send post request to server
        $.post("/star/add", data_to_pass, function(data){
          if(data === "saved") {
            // append the data-theme
          }
        }, 'json');
        starred_courses.push(href);
        updateStar("a","e");
        localStorage.setItem('starred_courses', JSON.stringify(starred_courses));

      } else {
        //- starred_courses.slice(starred_courses.indexOf(href),1);
        // remove star course
        $.post("/star/remove", data_to_pass, function(data){
          if(data === "removed"){}
        });
        starred_courses = starred_courses.filter(function(ele){
          return ele !== href;
        });
        updateStar("e","a");
        localStorage.setItem('starred_courses', JSON.stringify(starred_courses));
      }
      return false;
    });
  });