div(data-role='page')
  header(data-role='header')
    a(href='/uclaregistrar', data-icon='arrow-l', data-direction='reverse')
      = "Back"
    h1='Subject Areas'
  div(data-role='content')
    //Check
    - if(ucla_subjectAreas.length)
      //list all the subject areas
      ul(data-role='listview', data-filter='true')
        //foreach of the collected term
        - ucla_subjectAreas.forEach(function(area){
          li
            a(href='/uclaregistrar/#{ucla_term}/#{area["key"]}', rel='key')
              h3=area['name']
        - })
  p
    a(href='/uclaregistrar', data-role='button', data-theme='b', data-direction='reverse')
      ='Back Home'
  div(data-role='footer', data-theme='d', role='contentinfo', class='footer-docs')
    p='&copy; 2011 Daifu Ye'
