div(data-role='page', id='course_desc')
  header(data-role='header')
    a(href=ucla_back_link, data-icon='arrow-l', data-direction='reverse')
      = "Back"
    h1=ucla_prof
  div(data-role='content')
    ul(data-role='listview', data-inset='true')
      li(data-role='list-divider')
        h3='Average Reviews'
      li(data-role='fieldcontain')
        != partial('profAvgReviews')
      li(data-theme='b')
        a(href=ucla_bruin_walk_link, data-icon='arrow-r', data-iconpos='right')
          ='Go to BruinWalk'
  != partial('backlinks')
  div(data-role='footer', data-theme='d', role='contentinfo', class='footer-docs')
    p='&copy; 2011 Daifu Ye'
