div(data-role="dialog", data-dom-cache="true", data-theme="a")
  div(data-role="header")
    h1= "Search"
  div(data-role="content")
    //list all the subject areas
    ul(data-role='listview', data-filter='true')
      //foreach of the collected term
      - ucla_subjects.forEach(function(subjects_by_term){
      li(data-role="list-divider")=subjects_by_term['name']
        - subjects_by_term['subjects'].forEach(function(course){
          li
            a(href='/uclaregistrar/#{course.term}/#{course.sub}/#{course.classid}', rel='key')
              h3=course['title']
        - })
      - })
