div(data-role="dialog", data-dom-cache="true", data-theme="a", data-cache="never")
  div(data-role="header")
    h1= "Starred Course"
    a(href="#help", data-rel="popup",data-icon="info", data-iconpos="notext")
    div(data-role="popup", id="help", data-position-to="window", class="ui-content")
      a(href="#", data-rel="back", data-role="button", data-icon="delete", data-iconpos="notext", class="ui-btn-right")
      p="Note: Starred course will link to email account."
  div(data-role="content")
    //list all the subject areas
    ul(data-role='listview', data-filter='true')
      //foreach of the collected term
      - ucla_subjects.forEach(function(subjects_by_term){
      li(data-role="list-divider")=subjects_by_term['name']
        - subjects_by_term['subjects'].forEach(function(course){
          li
            a(href='/uclaregistrar/#{course.term}/#{course.sub}/#{course.classid}', rel='key', data-ajax="false", class="starred_courses_list")
              h3=course['title']
        - })
      - })
script
  $(document).bind('pagecreate', function(){
    var email = localStorage.getItem('email'),
        starred_courses = localStorage.getItem('starred_courses'),
        starred_courses_list = $(".starred_courses_list"),
        hrefs = [];
    if (email === undefined || email === null) {
      //save email
      email = window.location.href.trim().split('/').pop();
      localStorage.setItem('email', email);
    }

    starred_courses_list.each(function(index, ele){
      hrefs.push($(ele).attr("href").replace("uclaregistrar", "star"));
    });
    localStorage.setItem("starred_courses", JSON.stringify(hrefs)); // overrite the old one
  });